ul {
  list-style-type: none; 
  padding: 0;             
  margin: 0;              
}

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;  
  gap: 24px;
  justify-content: center;
  max-width: 1128px;
  margin: 0 auto; 
  padding: 24px;
    
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  flex-shrink: 0;
  box-sizing: border-box;  
  border: 2px solid transparent;     
}

.gallery-item:hover .gallery-image {transform: scale(1.05);}

.gallery-image {
  display: block;
  width: 100%;   
  height: 200px;    
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease; 
}
